@import 'styles/colours.scss';
@import 'styles/typography.scss';

.ant-input-prefix {
  color: rgb(64, 126, 197);
}

.ant-form-item {
  margin: 0;
}

.ant-picker {
  width: 100%;
  color: $text-light;
}

.ant-btn {
  border-radius: 2px;
}

// Ant Layout Overrides

.code-box-demo {
  text-align: center;
}

.ant-layout-header {
  color: black;
  background: white;
  padding: 0;
}

.ant-layout-footer {
  line-height: 1.5;
}

.ant-layout-sider {
  color: #fff;
  line-height: 30px;
  // background: #3ba0e9;
}

// Modal

.ant-modal-header {
  padding: 16px 24px;
}

.ant-upload-text-icon {
  display: none;
}

.ant-upload-span {
  padding-left: 20px;
}

// table
.ant-table-cell {
  font-size: 12px !important;
}

.ant-table {
  border-bottom: 1px solid lightgray;
}

// Color overrides, not to eject an app we use simple overrides

.ant-select,
.ant-input {
  color: $text-light;
  width: 100%;
}

.ant-btn {
  border-color: $primary-light;
  background: red;
  color: white;
  border-radius: 4px;
  span {
    @include text-strong();
  }

  &:hover {
    border-color: $primary-medium;
    background: $primary-medium;
    color: white;
  }

  &:active {
    border-color: $primary-dark;
    background: $primary-dark;
    color: white;
  }

  &:disabled {
    background-color: $neutral-light;
    color: white;

    &:hover {
      background-color: $neutral-light;
    }
  }
}

.ant-btn-dangerous {
  border-color: $alert-light;
  background: $alert-light;

  &:hover {
    border-color: $alert-medium;
    background: $alert-medium;
  }

  &:active,
  &:focus {
    border-color: $alert-dark;
    background: $alert-dark;
  }
}

.ant-btn-primary {
  border-color: $confirm-light;
  background: $confirm-light;

  &:hover {
    border-color: $confirm-medium;
    background: $confirm-medium;
  }

  &:active,
  &:focus {
    border-color: $confirm-dark;
    background: $confirm-dark;
  }
}

.ant-btn-ghost {
  border-color: white;
  background: transparent;

  &:hover {
    border-color: white;
    background: white;
    color: $brand-dark;
  }

  &:active {
    border-color: white;
    background: white;
    color: $brand-dark;
  }
}

.ant-table-filter-dropdown {
  overflow: visible !important;
}

////////////////   TABLE
